[theme]
theme = "gruvbox-dark"

[[block]]
block = "cpu"
info_cpu = 20
warning_cpu = 50
critical_cpu = 90

[[block]]
block = "disk_space"
info_type = "available"
alert_unit = "GB"
alert = 10.0
warning = 15.0
format = " $icon $available "

[[block]]
block = "memory"
format = " $icon $mem_total_used_percents.eng(w:2) "
format_alt = " $icon_swap $swap_used_percents.eng(w:2) "

[[block]]
block = "sound"
format = " $icon {$volume.eng(w:2) |}"

[[block.click]]
button = "left"
cmd = "pwvucontrol"

[[block]]
block = "custom"
interval = 5
cycle = [
  " date +'%a %d/%m %H:%M:%S' ",
  " date +'%a %d/%m' "
]
